#board {
    -fx-background-color: #8B0000;
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0.5, 0); 
}

#description {
    -fx-background-color: #8B0000;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.5, 0.5, 0);
    -fx-border-insets: 0;
    -fx-border-color: yellow;
    -fx-border-radius: 5;
    -fx-border-width: 5;  
}

#circles {
    -fx-background-color: #E0FFFF;
    -fx-border-color:  #545454;
    -fx-border-style: solid;
}

#title {
	-fx-background-color: #8B0000;
	-fx-background-insets: 20;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0.5, 0);
   -fx-border-insets: 20;
   -fx-border-color: yellow;
   -fx-border-radius: 20; 
   -fx-border-width: 5;
}
	
#bottom {
	-fx-background-image: url(607099.png);
	-fx-background-position: center;
	-fx-background-insets: 50;	
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0.5, 0);
}
