#board {
    -fx-background-color: white;  
    -fx-border-color: blue;
    -fx-border-insets: 50;
    -fx-border-width: 20;
    -fx-border-radius: 5;
}

#description {
	 -fx-background-image: url(leftside.jpeg);
    -fx-effect: dropshadow(three-pass-box, black, 20, 0.5, 0.5, 0);
    -fx-border-insets: 0;
    -fx-border-color: yellow;
    -fx-border-radius: 5;
    -fx-border-width: 5;  
}

.circles {
    -fx-background-color: #E0FFFF;
    -fx-border-color:  #545454;
    -fx-border-style: solid;
}

#title {
	-fx-background-image: url(title.jpg);
	-fx-background-position: 75% 55%;
   -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0.5, 0);
}
	
#bottom {
	-fx-background-image: url(bottom.png);
	-fx-background-position: 50% 57%;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0.5, 0);
}
